APP_DEBUG=true
BACKBONE_EMAILS_EMAILTEMPLATE_PATH_LOGO=/logos/logo_email.png
BACKBONE_EMAILS_EMAILTEMPLATE_PATH_SETTINGS_NOTIFICATIONS=/settings/notifications
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
BACKEND_PUBLIC_DOMAIN=127.0.0.1:8000
BACKEND_PUBLIC_SCHEME=http
CELERY_APP_NAME=backbone
DATABASE_URL=postgres://user:password@127.0.0.1:5432/dbname
DJANGO_ADMINS=Admin One <admin.one@example.com>, Admin Two <admin.two@example.com>
DJANGO_MANAGERS=Manager One <manager.one@example.com>, Manager Two <manager.two@example.com>
DJANGO_SECRET_KEY=change-me
DJANGO_SETTINGS_MODULE=backbone.settings.development
EMAIL_HOST=smtp.example.com
EMAIL_HOST_PASSWORD=password
EMAIL_HOST_USER=contact@example.com
EMAIL_HOST_USER_NOREPLY=NoReply <noreply@example.com>
EMAIL_PORT=587
FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=3000
FRONTEND_PUBLIC_DOMAIN=127.0.0.1:3000
FRONTEND_PUBLIC_SCHEME=http
LOG_LEVEL=DEBUG
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SENTRY_DSN=
SENTRY_TRACE_SAMPLE_RATE=0
SOCIALACCOUNT_GOOGLE_CLIENT_ID=12345abc.apps.googleusercontent.com
SOCIALACCOUNT_GOOGLE_SECRET=GOCSPX-123123
STORAGE_MINIO_ACCESS_KEY=minio
STORAGE_MINIO_ENDPOINT=127.0.0.1:9000
STORAGE_MINIO_MEDIA_BASE_URL=http://127.0.0.1:9000
STORAGE_MINIO_SECRET_KEY=supersecret
STORAGE_MINIO_STATIC_BASE_URL=http://127.0.0.1:9000
X_CHALLENGE_ENABLED=true-or-false
X_CHALLENGE_TOKEN_MAX_AGE=60
